<h1>Angular Recursive List</h1>
<ul>
  <li routerLink="/recursive/template-and-container">ng-template和ng-container例子</li>
</ul>
<ul>
  <!-- let-list="$implicit" 与 let-list 是等价的 -->
  <ng-template #recursiveList let-list>
    <li *ngFor="let item of list">
      {{item.title}}
      <ul *ngIf="item.children.length > 0">
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
      </ul>
    </li>
  </ng-template>
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
</ul>

<router-outlet></router-outlet>