<p>
  结构指令
</p>
<h2 id="appStructDirective">UnlessDirective</h2>
<p>
  The condition is currently
  <span>{{condition}}</span>.
  <button
    (click)="condition = !condition" >
    Toggle condition to {{condition ? 'false' : 'true'}}
  </button>
</p>
<p *appStructDirective="condition">Show this sentence unless the condition is true.</p>
<ng-template [appStructDirective]="condition">
  <p class="code unless">
    (ADC) &lt;ng-template [appStructDirective]="condition"&gt;
  </p>
</ng-template>

<!-- <p appStructDirective :appStructDirective="condition"></p> -->