<h3>首页</h3>
<ul>
  <li>
    <a [routerLink]="['/animations']">动画</a>
  </li>
  <li>
    <a routerLink="/communicate">组件通信</a>
  </li>
  <li>
    <a routerLink="/get-parent">获取父组件实例</a>
  </li>
  <li>
    <a routerLink="/recursive">递归组件</a>
  </li>
  <li>
    <a routerLink="/model">自定义组件双向绑定</a>
  </li>
  <li>
    <a routerLink="/form">form表单</a>
  </li>
  <li>
    <a routerLink="/element-ref">ElementRef</a>
  </li>
  <li>
    <a routerLink="/renderer2">Renderer2</a>
  </li>
  <li>
    <a routerLink="/get-element-by-directive">创建一个指令来获取所需的元素</a>
  </li>
  <li>
    <a routerLink="/view-children">ViewChildren详解</a>
  </li>
  <li>
    <a routerLink="/dyna-create-com">异步创建组件</a>
  </li>
  <li>
    <a routerLink="/content-child">ContentChild详解</a>
  </li>
  <li>
    <a routerLink="/content-children">ContentChildren详解</a>
  </li>
  <li>
    <a routerLink="/view-child">ViewChild详解</a>
  </li>
  <li>
    <a routerLink="/life-cycle">生命周期</a>
  </li>
  <li>
    <a routerLink="/diff-directive">Directive详解</a>
  </li>
  <li>
    <a routerLink="/change-detection">变化检测</a>
  </li>
  <li>
    <a routerLink="/inject">注入依赖Inject</a>
  </li>
  <li>
    <a routerLink="/route-reuse">路由复用策略</a>
  </li>
  <li>
    <a routerLink="/many-route-tab">多标签路由tab</a>
  </li>
</ul>
